*{
        margin: 0;
        padding: 0;  
}

body
{
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #000000;
        color: #ffffff;
        overscroll-behavior: none; 
        overflow: hidden;
}

button.undo ,button.reset,button.next,button.save,button.prev
{
        width: 5rem;
        height: 42px;
        background-color: rgba(0, 0, 225, 1);
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
}

button.undo:disabled,button.reset:disabled,button.next:disabled,button.save:disabled,button.prev:disabled
{
        background-color: rgba(0, 0, 225, 0.3);
        pointer-events: none;
}

.content
{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 10px;
}

.form,.save-form
{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        flex-direction: row;
        gap: 2rem;
      
      
        
}
.form div:nth-child(1)
{
        width: 30%;
}
.form div:nth-child(2)
{
        width: 10%;
}
.form input, .form button
{
        height: 42px;
        border-radius: 4px;
}

.form input
{
    
        width: 100%;
        padding: 4px;
        font-size: 23px;
}
.form button
{
       
        width: 100%;
        padding: 4px;
        font-size: 23px;
        height: 55px;
        background: #ddd;
        cursor: pointer;
}
.hidden
{
        display: none;
}
/** Media property */
@media screen and (max-width: 767px) 
{
        /* Styles for small screens e,g smatr phone */
        .content
        {
                /* height: 20vh; */
        }

        .form div:nth-child(1)
        {
                width: 70%;
        }
        .form div:nth-child(2)
        {
                width: 20%;
        }
}

@media screen and (min-width: 768px) and (max-width: 991px) 
{
        /* Styles for medium screens tablet */
        .content
        {
                height: 20vh;
        }
        .form div:nth-child(1)
                {
                        width: 70%;
                }
                .form div:nth-child(2)
                {
                        width: 20%;
                }
}

@media screen and (min-width: 992px) and (max-width: 1199px) 
{
        /* Styles for large screens desktop  */
}
      

@media screen and (min-width: 1200px) 
{
        /* Styles for extra large screens desktop */
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
       screen and (min--moz-device-pixel-ratio: 2),
       screen and (-o-min-device-pixel-ratio: 2/1),
       screen and (min-resolution: 192dpi),
       screen and (min-resolution: 2dppx) 
{
  /* Styles for high-resolution screens */
}

      